.FindUsCard {
    background-color: yellow;
    padding: 10px;
    border: solid 2px;
    border-radius: 5px 10px;
    border-color: blue;
    border-width: 2px;
}

.FindUsLink {
    width: 100%;
    height: 50px;
    background-color: lightsalmon;
    margin-bottom: 5px;

    font-size: 20px;

    display: flex;
    align-items: center;

    border: solid 2px;
    border-radius: 5px 10px;
    border-color: blue;
    border-width: 2px;
}

.FindUsLink:hover {
    background-color: pink;
}

.FindUsLink_Icon img {
    width: 40px;
    height: 40px;
    justify-content: center;
    margin: 0px 10px 0px 10px;
}