.ModCard_Container {
    display: flex;
    flex-direction: column;
    background-color: #f1f1f1;
    align-items: center;
}

.ModCard_Tray {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #f1f1f1;
    width: 100%;

}

.ModCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    background-color: yellow;
}

.ModCard img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}

.ModCard a {
    text-decoration: none;
    color: black;
    font-size: 25px;
}